@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HumaneCore</h1>
    <p>This sample application was built using .NET Core. 
    Please browse the animals up for <a asp-controller="Animal" asp-action="Index">adoption</a> or Login/ Register to perfrom admin functions.</p>
</div>
