@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>HumaneCore values your privacy. 
    We only collect personal information to better understand the pet lovers that visit our site. 
    We will never share or sell any personal information collected. 
</p>
